<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Sielze</title>

    <link rel="icon" type="image/x-icon" href="#">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        {% block header %}{% endblock %}
    </header>

    <main>{% block content %}{% endblock %}</main>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</body>

</html>